EZEEUSER = "EZEE LOGIN ID"
PASSWORD= "EZEE LOGIN PASSWORD"
PROPCODE = PROPERTY ID 
EMAIL_USER = "EMAIL FOR SENDING NOTIFICATION"
EMAIL_PASS = "EMAIL PASSWORD FETCH FROM GOOGLE DASHBOARD (NOT LOGIN PASSWORD)"
SENDTOUSER = "EMAIL ON WHICH YOU NEED TO HAVE MAIL RECIEVED"
NEXT_PUBLIC_API_URL="YOUR BACKEND API KEY"